.program {
  max-width: 1332px;
  margin: 0 auto;
  &__subtitle {
    margin: 0 auto;
    max-width: 1020px;
    text-align: center;
    margin-top: 40px;
  }

  &__wrapper {
    margin-top: 100px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &:nth-child(2n) {
      img {
        order: -1;
      }
    }
  }
  &__box+
  &__box {
    margin-top: 40px;
  }

  &__info {
    margin-bottom: 100px;
    max-width: 750px;
  }
  &__info-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 40px;
  }
  &__list-item {
    list-style: disc;
    margin-left: 50px;
  }
  &__list-item+
  &__list-item {
    margin-top: 20px;
  }
  &__box-img {
    opacity: .8;
  }
}

.lion {
  background: linear-gradient(94.39deg, rgba(243, 243, 243, 0.2) 0%, rgba(243, 243, 243, 0.154583) 67.45%, rgba(243, 243, 243, 0.0861612) 87.04%, rgba(243, 243, 243, 0) 104.45%);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
  width: 264px;
  height: 350px;
}
